@import "vendor/_bootstrap";

$grid-columns: 12 !default;
$grid-gutter-width: 32px !default;

$bookingColor: #0077cc !important;

body, button, input, optgroup, select, textarea {
  color: #383838;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  //line-height: 14px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  //padding-top: 3.5rem;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, .card-title {
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar-brand {
  background-image: url('../img/booking_com_partner_hub_logo.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  line-height: 0;
}

.jumbotron {
  .btn {
    font-size: 14px;
  }

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.75)),
  url('../img/campaign_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  min-height: 420px;
  color: white;
}

@include media-breakpoint-up(xs) {
  section {
    padding: 30px 0;
  }

  .column-margin {
    margin: 10px 0;
  }

  .navbar-brand {
    height: 20px;
    width: 220px;
  }

  .navbar {
    padding-top: 14px;
    padding-bottom: 14px;

    button {
      border: 0;
      font-size: 1rem;
      fill: $bookingColor;
    }

    li {
      a.nav-link {
        color: $bookingColor;

        &:hover {
          text-decoration: none;
        }

        svg {
          color: #0077cc;
          fill: #0077cc;
          height: 28px;
          width: 28px;
          margin-right: 5px;
          line-height: 50px;
        }
      }

      padding: 17px 0 !important;
    }
  }
}

@include media-breakpoint-up(md) {
  section {
    padding: 60px 0;
  }

  .navbar-brand {
    height: 25px;
    width: 289px;
  }

  .navbar {
    li {
      a.nav-link {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.15;
        padding-right: 1.5rem !important;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  section {
    padding: 100px 0;
  }

  .column-margin {
    margin: 0;
  }

  .card {
    padding-bottom: 60px;
  }
}


.row {
  img {
    border-radius: 5px;
    width: 100%;
  }
}

.card {
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.10);
  border-radius: 6px;

  a {
    color: $bookingColor;
    text-decoration: underline;
  }
}

footer {
  padding: 10px 0 20px 0;

  a {
    text-decoration: underline;
  }

  p, a {
    color: #BDBDBD;
  }

  p {
    font-size: 12px;
    margin: 5px 0;
  }
}